<div class="container m-4">
    <div class="card mx-auto" style="width:500px;">
        <div class="card-header">
            <b><h3>How are you?</h3></b>
        </div>
        <div class="card-body">
            <p class="card-text">To benefit more from our courses... </p>
            <a asp-controller="Course" asp-action="Apply" class="btn btn-primary d-block">Apply</a>
        </div>
    </div>
</div>




